* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(112, 74, 72), rgb(46, 42, 42));
}
main {
    width: 1800px;
    flex-direction: row;
    display: flex;
    height: 800px;
}
.perfil {
    align-items: center;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}
.perfil img {
    border: solid black 4px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    box-shadow: rgb(16, 17, 19) 0px 20px 30px -10px;
    object-fit: cover;
}

.perfil h2 {
    font-size: 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px rgb(255, 255, 255), -2px -2px 5px rgb(255, 255, 255), 2px -2px 5px rgb(255, 255, 255), -2px 2px 5px rgb(255, 255, 255);
}
.descript {
    width: 1150px;
    height: 800px;
    margin-left: 30px;
}
.descript p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    font-size: 30px;
    opacity: 80%;
}

h1 {
    font-size: 80px;
    margin-top: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
